@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Yeseva;
  font-weight: normal;
  src: url(/fonts/YesevaOne-Regular.ttf) format("truetype");
}

@font-face {
  font-family: NotoTC;
  font-weight: normal;
  src: url(/fonts/NotoSansTC-VariableFont_wght.ttf) format("truetype");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.pageWrapper{
  /*background: radial-gradient(circle at 50% 40%, #edadbc 20px, #edadbc 8rem, #edded5 22rem) no-repeat center center;*/
  background: radial-gradient(circle at 50% 40%, #edadbc 20px, #edadbc 8rem, #c3c3e8 22rem) no-repeat center center;
  z-index: -1;
  height: 100vh;
}

html{
  /*background-color: #edded5;*/
  background-color: #c3c3e8;
}

.mainContent{
  position:relative;
  animation:moveDown 0.75s ease-out forwards;
  -webkit-animation:moveDown 0.75s;
}

@keyframes moveDown{
  from {top:-2rem; opacity: 0;}
  to {top: 0rem; opacity: 1}
}

@-webkit-keyframes moveDown{
  from {top:-2rem; opacity: 0;}
  to {top:0em; opacity: 1;}
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a{
  color: #5e3c42;
}

.drawLine{
  display: inline-block;
  color: #4b3a63;
}

.drawLine::after{
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: #4b3a63;
  transition: 200ms;
}

.drawLine:hover::after {
  width: 100%;
}

.sg{
  position: absolute;
  z-index: 0;
}